@model UCP.Models.Menu

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Menu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdMenu" />
            <div class="form-group">
                <label asp-for="GeneralInformation" class="control-label"></label>
                <input asp-for="GeneralInformation" class="form-control" />
                <span asp-validation-for="GeneralInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mathematic" class="control-label"></label>
                <input asp-for="Mathematic" class="form-control" />
                <span asp-validation-for="Mathematic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sains" class="control-label"></label>
                <input asp-for="Sains" class="form-control" />
                <span asp-validation-for="Sains" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reading" class="control-label"></label>
                <input asp-for="Reading" class="form-control" />
                <span asp-validation-for="Reading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Columnn" class="control-label"></label>
                <input asp-for="Columnn" class="form-control" />
                <span asp-validation-for="Columnn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
